{% extends "base.html" %}
{% block content %}

<div>
    <h2 class="text-gray-800 "><i class="fa fa-users text-primary"></i> Prospects</h2>
    <hr>
    <a href="{% url 'add_record' %}" class="inline-block py-2 px-6 bg-indigo-700 rounded-xl mt-6 btn btn-primary">Ajout prospect</a> 
</div>
<br>

{% if not records %}
<div class="" style="background-color: blanchedalmond;">
    There isn't any record in this database
</div><br>
{% else %}
<table class="table table-striped table-hover table-bordered" style="font-size: 13px;">
    <thead class="table-dark">
        <tr>
            <th scope="col"></th>
            <th scope="col">Nom</th>
            <th scope="col">Email</th>
            <th scope="col">Téléphone</th>
            <th scope="col">Adresse</th>
            <th scope="col">Ville</th>
            <th scope="col">Pays</th>
            <th scope="col">BP</th>
            <th scope="col">Crée le</th>
        </tr>
    </thead>

    <tbody>

        {% for record in records %}
            <tr>
                <td><a href="{% url 'record' record.id %}"><i class="fa fa-eye"></i></a></td>
                <td>{{ record.first_name }} {{ record.last_name }}</td>
                <td>{{ record.email }}</td>
                <td>{{ record.phone }}</td>
                <td>{{ record.address }}</td>
                <td>{{ record.city }}</td>
                <td>{{ record.country }}</td>
                <td>{{ record.zipcode }}</td>
                <td>{{ record.created_at }}</td>
            </tr>
        {% endfor %}
    </tbody>

</table>
{% endif %}

{% endblock %}