<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: rgba(121,28,248,0.9)">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'dashboard' %}">PrestCRM <i class=""></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
      {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'record_list' %}">Records</a>
        </li>

        <li class="nav-item ">
          <a class="nav-link" href="{% url 'clients:list' %}" style="margin-right: 25px;">Clients</a>
        </li>

        <li class="nav-item" >
          <a class="nav-link" href="{% url 'logout' %}"  style="margin-right: 150px;"><i class="fas fa-power-off text-danger"></i></a>
        </li> 

        <li class="nav-item ">
          <a class="nav-link disabled" style="margin-right:0px;">logged in as:</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">{{user.username}}</a>
        </li>      
          
    
      </ul> 

      {% else %}
      <ul>        
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
      </ul>        
      {% endif %}
  
      
      
    </div>
  </div>
</nav>

